<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/css/style.css" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <section class="container">
    <div class="login">
    <h1>Login</h1>
    <form action="/index" method="post">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" required>
    <label for="password">password:</label>
    <input type="text" id="password" name="password" required>
    <button type="submit">Login</button>
</form>
    <a href="/register">New user? Click to register</a>
</div>
    </section>
</body>
</html>